<p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
<div *ngIf="products && products.length > 0" class="products">
  <h2>Products</h2>
  <div class="row products-list">
    <div class="col-md-3 col-sm-6" *ngFor="let product of products">
      <div class="item-wrap">
        <app-product-info-block
          [product]="product"
          [buttonTitle]="'View Details'"
          [clickableImage]="true"
          (buttonClicked)="productDetail(product)"
        ></app-product-info-block>
      </div>
    </div>
  </div>
</div>
<div *ngIf="products && products.length == 0">
  There are no products.
</div>
