@import "../../app.variables.scss";

.row {
  margin-left: -1rem;
  margin-right: -1rem;

  [class^="col-"] {
    padding: 1rem;
  }
}
.item-wrap {
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 1rem;
  min-width: 150px;

  &:hover {
    background-color: $color_bg;
  }
}
:host /deep/ .item-image {
  height: 18rem;
  cursor: pointer;
}
:host /deep/ div.item-info {
  top: 0;
  padding: 0;
  border: none;
}
