<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
<div *ngIf="product" class="row product-detail">
  <div class="col-lg-9 col-md-8 col-sm-6">
    <h2>{{ product.name }}</h2>
    <a routerLink="/products" class="go-back">&laquo; All Products</a>
    <p>{{ product.description }}</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="bg-img detail-image" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
    <div class="detail-info">
      <h3>{{ product.name }}</h3>
      <p>{{ product.price | currency:'EUR':true:'1.2-2' }}</p>
      <button class="btn btn-primary">Purchase</button>
    </div>
  </div>
</div>
