.item-image {
  position: relative;
  z-index: 2;
}
.item-info {
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 3rem 1rem 1rem;
  position: relative;
  top: -3rem;
  z-index: 1;

  .btn {
    width: 100%;
  }
}
